h1,
h2,
h3,
h4 {
  color: #011627;
}

p,
a,
label,
span,
input,
textarea,
button {
  color: #011627;
  font-family: "Inconsolata", monospace;
  line-height: 1.25;
}

html {
  font-size: 16px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: "Inconsolata", monospace;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1.25;
  font-weight: 700;
}
