---
import "../styles/main.scss"
import "@fontsource/inconsolata"
import "@fontsource/montserrat"

// Components
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import Strip from "../components/Strip.astro"
import Projects from "../components/Projects.astro"
import Contact from "../components/Contact.astro"
import Footer from "../components/Footer.astro"

// Data
import { strip, strip2 } from "../data/strips.js"
---

<script>
  const hiddenElements = document.querySelectorAll(".hidden")

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("animate")
      } else {
        entry.target.classList.remove("animate")
      }
    })
  })

  hiddenElements.forEach((element) => {
    observer.observe(element)
  })
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Aaron Duke &#x2022 Front-End Developer</title>
  </head>
  <body>
    <Hero />

    <Strip strip={strip} />

    <Projects />

    <Strip strip={strip2} />

    <Contact />

    <Footer />
  </body>
</html>
