---
---

<section class="contact" id="contact">
  <div class="contact__container">
    <div class="contact__header">
      <h2 class="hidden hidden__left">CONTACT</h2>
      <a
        class="btn hidden hidden__right"
        href="mailto:hello@aaronduke.co.uk"
        aria-label="Email Me">EMAIL</a
      >
    </div>

    <form method="POST" class="form" data-netlify="true" name="Contact Form">
      <div class="form__container">
        <input
          aria-label="Name"
          type="text"
          placeholder="NAME"
          autocomplete="name"
          name="name"
          class="hidden hidden__left"
        />

        <input
          aria-label="Email"
          type="email"
          placeholder="EMAIL ADDRESS"
          name="email"
          autocomplete="email"
          class="hidden hidden__left"
        />

        <textarea
          class="hidden hidden__left"
          aria-label="Message"
          name="message"
          placeholder="MESSAGE"
          rows="6"></textarea>

        <button
          aria-label="Submit Form"
          type="submit"
          class="form__submit hidden hidden__right">Send</button
        >
      </div>
    </form>
  </div>

  <style lang="scss">
    .contact {
      padding: 4rem 2rem;

      &__container {
        max-width: 1200px;
        margin: 0 auto;
      }

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      border-radius: 0.25rem;

      input,
      textarea {
        padding: 0.75rem 1rem;
        font-size: 0.85rem;
        letter-spacing: 1px;
        margin-bottom: 0.5rem;
        width: 100%;
        color: #011627;
        resize: none;
        border: 1px solid #011627;
        border-radius: 0.25rem;
        &:focus {
          outline: none;
          background-color: #011627;
          color: #fff;
          &::placeholder {
            color: #fff;
          }
        }

        &::placeholder {
          color: #011627;
        }
      }

      input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        flex-grow: 1;
        height: 2px;
        background: #d3d3d3;
        padding: 0;
        margin-bottom: 1rem;
        &:focus {
          background: #011627;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 20px;
          height: 20px;
          background: #011627;
          border-radius: 50%;
          cursor: pointer;
        }
      }

      &__container {
        display: flex;
        flex-direction: column;
      }

      &__inquiry {
        border: 1px solid #011627;
        border-radius: 0.25rem;
        padding: 0.75rem 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.5rem;

        span {
          font-size: 0.85rem;
          letter-spacing: 1px;
          color: #011627;
        }
      }

      &__checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.25rem;
        height: 1.25rem;
        border: 1px solid #011627;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        border-radius: 50%;
        &.checked {
          &::after {
            content: "";
            display: block;
            width: 0.5rem;
            height: 0.5rem;
            background-color: #011627;
            border-radius: 50%;
          }
        }
      }

      &__inquiry-details {
        max-height: 0px;
        overflow: hidden;
        transition: all 0.4s ease-in-out;
        opacity: 0;
        &.show {
          max-height: 200px;
          opacity: 1;
        }
      }

      &__inquiry-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
      }

      &__budget {
        width: 100%;
        display: flex;
        padding: 0.75rem 1rem;
        margin-bottom: 0.5rem;
        border: 1px solid #011627;
        border-radius: 0.25rem;
        div {
          width: 100%;
        }
        p {
          font-size: 0.85rem;
          letter-spacing: 1px;
          color: #011627;
          text-transform: uppercase;
          margin-right: 2rem;
        }
        span {
          color: #011627;
        }
      }

      &__button-container {
        display: flex;
        justify-content: flex-end;
        background-color: #fff;
      }

      &__submit {
        text-transform: uppercase;
        display: inline-block;
        font-size: 1.25rem;
        font-weight: 700;
        text-decoration: none;
        color: #fff;
        background: #011627;
        padding: 1rem 2rem;
        border-radius: 0.25rem;
        letter-spacing: 2px;
        transition: all 0.3s ease-in-out;
        border: 1px solid #011627;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          background: #fff;
          color: #011627;
          border: 1px solid #011627;
        }
      }
    }
  </style>
</section>
