---
---

<footer class="footer">
  <div class="footer__container">
    <p class="footer__text">
      <strong>&copy; 2023 Aaron Duke.</strong> All rights reserved.
    </p>

    <a href="/" aria-label="Home Page" class="logo"><span>AD</span></a>
  </div>
</footer>

<style lang="scss">
  .footer {
    background-color: #011627;
    padding: 2rem;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
    }
    &__text {
      color: #fff;
      font-size: 1rem;
    }
    strong {
      font-weight: 700;
    }
  }
</style>
