---
import { skills } from "../data/hero.js"
---

<section class="hero">
  <div class="hero__container">
    <div class="hero__left hidden hidden__left">
      <h1>AARON DUKE</h1>
      <h2>FRONT-END DEVELOPER &#x2022 NORFOLK &#x2022 UK</h2>
      <div class="hero__btns">
        <a class="btn" href="#about" aria-label="About Section">ABOUT</a>
        <a class="btn" href="#contact" aria-label="Email Me"> CONTACT</a>
      </div>
    </div>
    <div class="hero__right">
      {skills.map((skill) => <span class="hidden hidden__right">{skill}</span>)}
    </div>
  </div>

  <style lang="scss">
    .hero {
      min-height: 100vh;
      padding: 4rem 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      @media (max-width: 900px) {
      }

      &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
        @media (max-width: 900px) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 4rem;
        }
      }

      &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        @media (max-width: 900px) {
          align-items: center;
          justify-content: center;
        }
      }

      &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        border-left: 0.25rem solid rgba(1, 22, 39, 0.8);
        padding: 2rem 0 2rem 4rem;
        @media (max-width: 900px) {
          border-left: none;
          border-top: 0.25rem solid rgba(1, 22, 39, 0.8);
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          padding: 2rem 0 0 0;
        }

        span {
          font-size: 1.5rem;
          line-height: 1.5rem;
          letter-spacing: 2px;
          color: rgba(1, 22, 39, 1);
          &:hover {
            opacity: 0;
            filter: blur(5px);
            transition: all 1s;
          }
        }
      }

      &__btns {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        @media (max-width: 900px) {
          align-items: center;
          justify-content: center;
        }
      }
    }
  </style>
</section>
